.immigration-tools-container {

    .custom-card {
        height: 320px;
        max-width: 100%;
    }

    .btn-list {
        .btn {
            text-align: left;
            display: block;
            width: 100%;
            margin-top: 1.2rem !important;
            background-image: var(--bs-gradient) !important;
        }
    }
}